@mixin max-width {
  max-width: $max-width;  
}
.header {  
    padding: 1.5em 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container-width();
    @include max-width();  
    &__logo {
        width: 150px;
        height: 50px;
       
        img {
            width: auto;
            height: 100%;
        }      
    }
    &__logo {
        width: auto;
        height: auto;
       
        img {            
            height: 35px;
            object-fit: cover;
        }    
    }            
    &__navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        align-items: center;
           
        &--link{
            width: 5em;
            font-size: 1.5em ;
            list-style: none;
            text-align: right;  
            margin: .2em;          
            a {
                text-decoration: none; 
                color: $orange-clr;  
               
            } 
            .nav-active{
                text-decoration: underline;                
            }                  
        }         
    }
    @include responsive()
}

.banner {   
    margin: 1rem auto 0;
    margin-top: 1rem;
    height: 200px;
    border-radius: 25px ;  
    position: relative;
    @include container-width();
    @include max-width();
    &__title {
        position: absolute;
        left: 17vw;       
        top:5rem;
        z-index: 3;
        font-size:2rem;
        color: $white-clr;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;       
        background-color: rgba(0,21,43,.2);
        height: 100%;
        border-radius: 25px;
    }

   
    @include responsive()
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    justify-items: center;    
    background-color: $gray-clr;
    border-radius: 25px;
    margin: 1rem auto 0;
    padding: 1.3rem;
    gap: 20px ;
    @include container-width();
    @include max-width();
    &__card {        
        position: relative;     
        &--image{                    
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;                 
        }
        &--text{
            position: absolute;
            left: .8em;
            bottom: 1em;
            color:$white-clr;
            font-size:.8em;  
            font-weight:200;          
            z-index: 10;
            pointer-events: none;
              
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;       
            background: linear-gradient(rgba(0, 21, 43, 0.1) 56%, rgba(0, 21, 43, 0.3) 93%);
            height: 98%;
            border-radius: 10px;
            pointer-events: none;        
        }
    }
    @include responsive()
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    height: 10rem;
    background-color: $black-clr;
    color: $white-clr;
    align-items: center;
    padding-bottom: 1rem;
    margin-top: auto;
    @include container-width();
    @include max-width();  
    &__logo{
        height: 50px;
    }
    @include responsive()
}

@media screen and( max-width: 422px) {
    .header {
        margin: 1rem auto;
        &__navigation {
            &--link{              
                font-size: 1.1em;
            }
        }          
    } 
    .banner{
        height: 100px;
        margin: 1.5rem auto;
        &__title {          
            left: 3rem;       
            top: 2rem;  
            font-size: 20px;         
        }       
    }
    .gallery{
        margin: 0 auto;
        padding: .2rem;
        grid-template-columns: 1fr;
        &__card {                    
            &--image{                    
                width: 100%;                              
            }
        }
    }
    .footer{       
        min-width: $width;
    }
}


