.container-slide {
    display: flex;
    justify-content: center; 
    align-items: center;    
    position: relative;
    height: 300px;    
    margin-top: 2.5rem;
    color: $white-clr;  
    @include max-width();
    @include container-width();
    margin: 0 auto;
    &__iconright {
        @include icon;
        right: 0;
        &:active ~ .container-slide__media {
            transform: scale(0.95); 
        }                    
    }

    &__media {
        position: absolute;                
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 100%; 
        transform: scale(1);
        transition: transform 1s  ease-out ;                          
    }
    &__iconleft {
        @include icon;
        left: 0; 
        &:active ~ .container-slide__media {
            transform: scale(0.95); 
        }     
    }
    &__number {
        position: absolute;
        bottom: 0;
        font-size: 1.3rem;
        font-weight: 400;
    }   
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
    @include container-width();
    @include max-width();
    margin:  0 auto ;
    &__title{
        flex-grow: 1;
        &--title {
            font-size: 1.2rem;
            font-weight: 900;
        } 
        &--tag {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            span {
                text-align: center;               
                background-color: $orange-clr ;
                border-radius: 20px;
                color: $white-clr;
                margin: .3em;
                padding: .5rem 1rem;
                font-size: 12px;
            }          
        }       
    }
    &__host{
        display: grid;
        grid-template-columns: 1fr 50px;
        grid-template-rows: 1fr 2rem;
        flex-direction: row;
        justify-items: flex-end;        
        &--picture{
            img{
                border-radius: 50%;
                width: 50px;
                height: 50px;
                justify-self:right;
            }
        }
        &--name{           
            width: 100px;
            text-align: right;
            word-wrap: break-word;
            margin-right: 5px;
            text-indent: 20px;
        }
        &--star {
            justify-self:right;
            grid-column-start: 1;
            grid-column-end: 3 ;
            font-size: 1.8rem;            
        }             
    } 
   
}

.grayColor {
    color: #E3E3E3;
}
.orangeColor {
    color:$orange-clr;
} 
.containerDropdown{
    display: flex;
    column-gap: 25px;
    margin-bottom: 12rem;
    @include max-width();
    margin: 0 auto;
    padding: 1.5rem 0;
    @include container-width();
} 
.dropdown {
    width: 50%;
    height: 100%;
    background-color: $orange-clr;
    border-radius: 10px;
    color: $white-clr;
    position: relative;
  
    &__title{
        width: 100%;
        height: 2.5em;
        outline: 0;
        border: 0;
        background-color: $orange-clr;
        color: inherit;
        cursor: pointer; 
        text-align: left;
        padding-left: 10px; 
        font-size: larger ; 
        border-radius: 10px;   
    }
    &__icon{
        position: absolute;
        right: 10px;
        top: 15px;
        pointer-events: none;       
    }
    &__toggle{
        width: 100%;            
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $gray-clr;         
        color: $orange-clr;         
    }
} 
.visible {
    visibility: visible;
} 
.rotation {
    transform: rotate(180deg);
}

@media screen and( max-width: 422px) {
    .profile {
       flex-direction: column; 

       &__host{
        display: flex;       
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
              
        &--picture {
           order: 3;
        }
        &--name {       
            order: 2;               
        }
        &--star {
            order: 1;    
            flex-grow: 1;        
        }             
    } 

    }
    .containerDropdown {
       flex-direction: column;
       align-items: center;
    } 
    .dropdown {
        width: 100%;
        margin: .3em;
    }
}
