* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
html, body {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

$white-clr:#FFFfff;
$black-clr :#000000;
$orange-clr :#e51717;
$background-clr :#E5E5E5;
$gray-clr :#F6F6F6;
$starColor: #E3E3E3;
$width: 300px;
$max-width :1100px;
@mixin container-width {
    width: 100%;
}

@font-face {
    font-family:'montserrat';
        src:url(../assets/fonts/montserrats/MontserratAlternates-Medium.ttf), 
        url(../assets/fonts/montserrats/MontserratAlternates-Bold.ttf), 
        url(../assets/fonts/montserrats/MontserratAlternates-Regular.ttf), 
        url(../assets/fonts/montserrats/MontserratAlternates-SemiBold.ttf);
}
@mixin responsive {
    @media screen and( max-width: 420px) {
        width: 300px,
    }
}

body {  
    margin: auto;    
    font-family: 'montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;   
    color: $orange-clr;
    @include responsive();
}

@mixin icon {
    position: absolute;
    top: 40%;    
    z-index: 10;
    font-size:  5rem;   
    cursor: pointer;
    &:hover{
        color:$orange-clr;
    }
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $orange-clr;
}

